@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #EFEFEF;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
}

header{
    background-color: #fcbebec4;
    font-size: 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li a{
    text-decoration: none;
    color: black;
    padding: 4px 7px;
}

.logo{
    margin-top: 14px;
    margin-right: 20px;
    height: 50px;
}

nav ul{
    gap: 5vw;
    display: flex;
    list-style-type: none;
}

li{
    padding: 5px 10px;
    border-radius: 50px;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 23px;
    transition: 300ms;
}
span{
    white-space: nowrap;
}

.header-login-signup{
    font-family: 'Poppins', sans-serif;
    margin: 15px 10px;
    font-size: 20px;
    display: flex;
    width: 20vw;
    justify-content: space-around;
}

.btn{
    text-decoration: none;
    border: 1px solid #313131;
    width: 85px;
    height: 40px;
    text-align: center;
    padding: 8.5px;
    font-weight: bold;
    font-size: 14px;
}

.login{
    background-color: #fff;
    color: #000;
}
.signup{
    background-color: #000000c7;
    color: #ffffff;
}
.btn:hover{
    opacity: 95%;
}
.login:hover{
    background-color: rgba(0, 0, 0, 0.822);
    color: aliceblue;
    transition: 300ms;
}
.signup:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transition: 300ms;

}

.header-search{
    margin: 16px;
    width: 10vw;
}

#main-search-bar{
    height: 40px;
    border-radius: 33px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    padding-left: 10px;
    
}

#main-search-bar::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.banner{
    height: 400px;
    background-image: url('../images/student.png');
    background-size: cover;
        display: grid;
}

.banner-text {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 50px 30px 90px;
    font-size: 30px;
    word-spacing: 2px;
    width: 600px;
    line-height: 60px;
    color: #0d2424;
}

.sub-text{
    font-size: 25px;
    color: #e0e0e0;
    text-decoration: underline;
}

.get-started-button{
    text-decoration: none;
    color: white;
    padding: 12px 30px ;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    background-image: radial-gradient( circle 325px at 19.2% 64.8%,  rgba(254,62,101,1) 9.7%, rgba(166,24,146,1) 91.3% );  
}

.get-started-button:hover{
    border: 1px solid black;
    transition: 500ms;
    transform-origin: center;
}

.companies{
    margin: 70px 50px;
    font-size: 30px;
    background-color: antiquewhite;
    display: flex;
    border-radius: 10px;
}

.companies-text{
    font-family: 'Playfair Display', serif;
    width: 35vw;
    align-self: center;
    padding: 30px 30px 35px 40px;

}

.companies img{
    margin-left: 40px;
    width: 30%;
}

#maang {
    padding: 100px 0;
    width: 20%;
}


.courses-text{
    padding: 0 50px;
    font-size: 25px;
}



.cards-group{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 120px;
}



.card{
margin-bottom: 40px;
max-width: 300px;
border: 1px solid #bbbbbb;
/* box-shadow: 0 0 4px #313131c9; */
border-radius: 15px;
padding-bottom: 15px;
background-color: #9e9e9e31;
}

.card p,h3,a{
    padding: 15px;
}

.card:hover{
    scale: 1.015;
    transition: 250ms;
}

.card > img{
    padding: 0;
    border-radius: 15px 15px 0 0;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.card em{
    background-color: rgb(12, 78, 53);
    padding: 1px 20px 1px 5px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 200;
}

.card h3{
    display: grid;
    grid-template-columns: auto 70px;
    
}

.buy-now{
    padding: 7px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(21, 49, 172);
    border: none;
    border-radius: 5px;
    color: aliceblue;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 33px;
}

/* Roadmap styling */
.roadmaps{
    font-size: 20px;
    margin: 0 0 20px 50px;
}
.info-container{
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    display: flex;
    margin: 15px 10px 20px 5px;
    overflow: hidden;
}

.block{
    background-color: #B4E1FF;
    padding-top: 20px;
    font-size: 23px;
    font-weight: bold;
    color: rgba(250, 92, 0, 0.952);
    width: 30vw;
    height: 100%;
    position: absolute;
    text-align: center;
    border-radius: 20px 0 0 20px;   
}
.block img{
    width: 390px;
}

.info-container ol{
    padding: 5px 10px 5px 35%;
    font-size: 20px;
    line-height: 30px;
}

ul li{
    line-height: 10px;
}
.columns3{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

/* Reviews Styling */
.reviews{
    font-size: 20px;
    margin: 40px 50px;
}

.review-container{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.image{
    display: flex;
    padding: 20px ;
    background-color: #4070F4;
    margin: -20px;
    border-radius: 20px 20px 0 10px;
    justify-content: center;
}
.image img{
    border-radius: 50%;
    width: 120px;
    border: 3px solid white;
    padding: 3px;
}
.content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.content p{
    font-size: 18px;
}

.box{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    max-width: 330px;
    border-radius: 20px;
}

.content .small-box-copy{
    width: 30px;
    position: absolute;
    right: -20px;
    height: 30px;
    border-radius:0 25px 0 0;
    background-color: rgb(255, 255, 255);
}
.content .small-box{
    width: 30px;
    position: absolute;
    right: -20px;
    top: -10px;
    height: 30px;
    background-color: #4070F4;
}

.button{
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: #2b5ed6;
    border-radius: 10px;
}



footer{
    padding: 40px 80px;
    height: 300px;
    color: white;
    background-color: #1b1b1b;
}

.footer-links{
    display: flex;
    cursor: pointer;
    font-size: 15px;
    justify-content: space-between;
}

.footer-links ul li:hover{
    text-decoration: underline;
}


footer ul{
    list-style: none;
}

.logo-and-copyright{
    padding: 30px 0;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#course-search-bar{
    height: 35px;
    width: 400px;
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid rgb(13, 167, 214);
    background-color: #f3f3f3;
    font-size: 16px;
    padding-left: 20px;
}

.hide{
    display: none;
}